<br>
<%= link_to '&#x276e;'.html_safe, :back, class: 'btn btn-secondary btn-circle' %> <br><br>

<% if current_chef.id == @cuisine.chef_id %>
  <h1>Editing Cuisine</h1>

  <%= render 'form', cuisine: @cuisine %>
<% end %>
