<% if user_signed_in? or chef_signed_in? %>
  <div class="cuisine_background">
    <div class="cuisine_background-content">
      <h1 class="dancing-script">Cuisines</h1>
      <table>
        <thead>
          <tr>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @cuisines.each do |cuisine| %>
            <tr>
              <td><%= link_to cuisine.title, cuisine, class: 'btn btn-secondary' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>
      <% if chef_signed_in? %>
        <%= link_to 'New Cuisine', new_cuisine_path, class: 'btn btn-warning' %>
      <% end %>
    </div>
  </div>
<% end %>
