<br>
<%= link_to '&#x276e;'.html_safe, cuisines_path, class: 'btn btn-secondary btn-circle' %>
<br>
<br>
<% if chef_signed_in? %>
	<h1>New Cuisine</h1>

  		<%= render 'form', cuisine: @cuisine, class: 'btn btn-primary'%>
<% end %>
