<div class="home_background">
  <div class="home_background-content">
    <h1>EatYV</h1>
    <p>
      Create your own Cuisine or eat Your Vegetables!
    </p>
    <% if !user_signed_in? and !chef_signed_in? %>
      <%= link_to 'Get Started', authentication_index_path, class: 'btn btn-warning btn-lg' %>
    <% end %>
  </div>
</div>
