<% if current_chef == @cuisine.chef or current_user == @reservation.user %>
  <% @reservations.each do |reservation| %>
    <div class='reserv-box'>
      <b><p><%= reservation.name %></p></b>
      <p><%= reservation.time %></p>
      <p><%= reservation.message %></p>
    </div>
    <br>
    <br>
  <% end %>
<% end %>

<%= render 'reservations/form' %>
