// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reserv-box {
  border-style: solid;
  border-color: #f0ad4e;
  border-width: 2px;
  border-radius: 20px;
  margin-left: 200px;
  margin-right: 200px;
}
