<div class="col-md-4 col-md-offset-5 text-center">
<% if user_signed_in? %>
  <%= form_for([@cuisine, @cuisine.reviews.build]) do |f| %>
    <div class="field">
      <%= f.select :grades, [1, 2, 3, 4, 5], placeholder: :grades, class: 'form-control custom-select'  %>
    </div>
    <br>
    <div class="field">
      <%= f.text_area :comments, class: :text_area, step: :any, placeholder: :comments, class: 'form-control'  %>
    </div>
<br>
    <div class="actions">
      <%= f.submit 'Add Review', class: 'btn btn-warning' %>
    </div>
  <% end %>
<% end %>
</div>
