<% @reviews.each do |review| %>

  <div class="color-orange"> <% review.grades.times { concat "&#9733;".html_safe} %> </div>
  <%= review.comments %>
  <br>
  <br>

<% end %>

<%= render 'reviews/form' %>
