<% @reviews.each do |review| %>
<h5>Review:</h5>

<% if @review_result == 5 %>
  <p> &#9734; &#9734; &#9734; &#9734; &#9734;</p>
<% end %>
  <%= review.grades %> &#9734; |
  <%= review.comments %>
  <br>
  <br>

<% end %>

<%= render 'reviews/form' %>
