<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">EatYV</a>
  <a class="nav-item"><%= link_to 'Cuisine', cuisines_path, class: 'nav-link' %> </a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-0 ml-lg-auto">
      <li class="nav-item"><%= link_to 'Settings', edit_user_registration_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'Sign Out', destroy_user_session_path, :method => :get, class: 'nav-link' %></li>
    </ul>
  </div>
</nav>
